.product-prev {
    border: 1px solid $silver;
    width: 217px;
    outline: none;
    margin: 10px 15px 30px;
    padding: 20px;
    padding-top: 190px;
    position: relative;
    transition: all linear .3s;
    &:hover {
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    }
    &__header {
        left: 20px;
        right: 20px;
        height: 160px;
        position: absolute;
        top: 20px;
    }
    &__img {
        max-width: 100%;
        max-height: 160px;
        margin: 0 auto;
        &-wrapper {
            outline: none;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        left: 0;
        right: 0;
        position: absolute;
        top: 0;
    }
    &__body {
        position: relative;
        padding-top: 90px; 
        margin-bottom: 20px;   
    }
    &__title {
        font-weight: 60;
        line-height: 1.43;
    }
    &__price {
        align-items: baseline;
        display: flex;
        & > * {
            margin-right: 10px;
            &:last-child {margin-right: 0;}
        }
        &-current {
            font-size: 20px;
            font-weight: 600;
            color: $blaze-orange;
        }
        &-old {
            color: $tundora;
            font-size: 13px;
            text-decoration: line-through;
        }
    }
    &__colors {
        .slick-dots {
            display: flex;
            li {
                border: 1px solid transparent;
                border-radius: 2px;
                padding: 2px;
                &.slick-active {
                    border-color: $tundora;
                }
            }
        }
    }
    &__color {
        display: block;
        border-radius: 2px;
        @include size(20px);
        outline: none;
    }  
}