.brands__list {
  display: flex;
  //flex-wrap: wrap;
  margin-left: 15px;
  & > * {
    margin-right: 10px;
    margin-bottom: 10px;
    &:nth-child(6n + 6) {
      margin-right: 0;
    }
  }
  &.brands__list--small {
    & > * {
      &:nth-child(6n + 6) {
        margin-right: 0;
      }
    }
  }
}
.brand {
  align-items: center;
  color: $mine-shaft;
  display: flex;
  flex-direction: column ;
  &__img {
    height: 80px;
    margin-bottom: 5px;
    transition: all linear .3s;
    width: 110px;
    &:hover {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    }
  }
}