.header__mobile {
  display: none;
  position: relative;
  z-index: 5;
  @media screen and (max-width: $tablet-size) {
      display: block;
  }
  .container{
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: $tablet-size) {
          align-items: center;
          justify-content: space-between;
          padding: 0 15px;
      }
      & > * {
          flex: 0 0 48%;
          width: 48%;
          @media screen and (max-width: $tablet-size) {
              flex: 0 0 auto;
              width: auto;
          }
      }
  }
  .search{
      @media screen and (max-width: $tablet-size) {
          display: block;
          
      }
  }
}